
:root{
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}
*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background-color: var(--color-darkblue-alpha);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  color: var(--color-white);
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.header{
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}
.par{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 1.125rem;
    font-style: italic;
    text-align: center;
    word-spacing: 0.5px;
}
#input_form{
    max-width: 700px;
    background-color: var(--color-darkblue);
    padding: 30px;
    margin:0 auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
    border-radius: 5px;
    
}
#input_form label{
    font-size: larger;
   
}
#input_form .field{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
    border:none;
}
::placeholder{
    font-size: large;
}
.radio_b, .check_b{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.radio_a, .check_a{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}
.span_a, .span_c{
    vertical-align: middle;
}
.check_b, textarea, .radio_b{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
textarea{
    width: 100%;
    border-radius: 3px;
}
input[type="submit"]{
    color: white;
    background-color: var(--color-green);
    border-radius: 5px;
    border: none;
}
.form_par{
    font-size: larger;
}
select{
 font-size: large;
}
textarea{
    padding: 5px;
    padding-left: 10px;
}
@media(max-width: 640px){
    body{
        margin: 0;
    }
}


